blib
cover_db
Makefile
MYMETA.yml
MYMETA.json
pm_to_blib
*.tar.gz
*.tbz
*.tgz
*.txz
*.old
*.gcov
*.gcda
*.gcno
.perlcriticrc
lib/App/ccdiff.pm
App-cc*
xx*
valgrind.log
pod2htm*
nytprof*
tmp/*
sandbox/cover_db*
Talk/*.mp4
Talk/*.jpg
Talk/diff-so-fancy*
*-git
